[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "interep"]
	path = interep
	url = https://github.com/feizhoustat/interep
[submodule "springer"]
	path = springer
	url = https://github.com/feizhoustat/springer
